version: '3.0'
services:
  web:
    image: alexcheng/magento2
    ports:
      - "80:80"
    links:
      - db
    env_file:
      - env
    volumes:
      - ./:/var/www/html/app/code/Salesfire/Salesfire
      - ./cronLaunch.php:/var/www/html/pub/cronLaunch.php
      - ./logs:/var/www/html/var/log
  db:
    image: mysql:5.6.23
    volumes:
      - db-data:/var/lib/mysql/data
    ports:
      - "3306:3306"
    env_file:
      - env
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    ports:
      - "8580:80"
    links:
      - db
volumes:
  db-data:
