<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <salesfire>
            <general>
                <is_enabled>0</is_enabled>
            </general>
        </salesfire>
    </default>
</config>
