<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="salesfire" translate="label" sortOrder="300">
            <label>Salesfire</label>
        </tab>
        <section id="salesfire" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>General</label>
            <tab>salesfire</tab>
            <resource>Salesfire_Salesfire::salesfire</resource>
            <group id="about" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Salesfire</label>
                <attribute type="expanded">1</attribute>

                <field id="about" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Salesfire\Salesfire\Block\Adminhtml\About</frontend_model>
                </field>
            </group>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="0" showInWebsite="0" showInStore="1">
                <label>General</label>
                <attribute type="expanded">1</attribute>

                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="site_id" translate="label" type="text" sortOrder="20" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Site ID</label>
                    <comment>E.g: 00000000-0000-0000-0000-00000000000</comment>
                </field>
            </group>
            <group id="feed" translate="label" type="text" sortOrder="30" showInDefault="0" showInWebsite="0" showInStore="1">
                <label>Product Feed</label>
                <attribute type="expanded">1</attribute>

                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="default_brand" translate="label" type="text" sortOrder="20" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Default Brand</label>
                </field>
                <field id="brand_code" translate="label" type="text" sortOrder="30" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Brand Attribute Code</label>
                </field>
                <field id="gender_code" translate="label" type="text" sortOrder="40" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Gender Attribute Code</label>
                </field>
                <field id="age_group_code" translate="label" type="text" sortOrder="50" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Age Group Attribute Code</label>
                </field>
                <field id="colour_code" translate="label" type="text" sortOrder="60" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Colour Attribute Code</label>
                </field>
                <field id="attribute_codes" translate="label" type="text" sortOrder="70" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Additional Attribute Codes</label>
                    <comment>Comma separated list of attribute codes to put in feed. E.g: material,size</comment>
                </field>
                <field id="feed_url" translate="label" sortOrder="80" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Feed Url</label>
                    <frontend_model>Salesfire\Salesfire\Block\Adminhtml\FeedUrl</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
